

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #352F44;
}

.my-btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #5C5470;
    background-color: #FAF0E6;
    border: 2px solid #5C5470;
    border-radius: 10px;
    box-shadow: 3px 3px 0px #5C5470;
    transition: all 0.3s ease;
  }
  
  .my-btn:hover  {
    background-color: transparent;
    color: #FAF0E6;
    border: 2px solid #FAF0E6;
    box-shadow: 3px 3px 0px #FAF0E6;
  }
  
  .my-btn:active , .my-btn-alt:active {
    background-color: #5C5470;
    box-shadow: none;
    transform: translateY(4px);
  }
  
  
  .white-gradient {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }


/* 
COLORS : 

primary : #352F44
secondary : #5C5470
text :  #B9B4C7
highlights : #FAF0E6

*/